html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
}

header {
  background-color: #ffe5d9;
  padding: 10px;
  text-align: center;
  grid-area: header;
}

nav {
  background-color: #dbfbdb;
  padding: 10px;
  grid-area: nav;
}

main {
  background-color: #e2eafc;
  padding: 20px;
  grid-area: main;
}

section {
  background-color: #c1d3fe;
  padding: 15px;
}

section + section {
  margin-top: 15px;
}

article {
  background-color: #e0ffff;
  padding: 10px;
}

aside {
  background-color: #fffacd;
  padding: 20px;
  grid-area: side;
}

footer {
  background-color: #fbd6d2;
  padding: 10px;
  grid-area: footer;
}

.challenge-tasks li::marker {
  font-weight: bold;
}

.challenge-tasks li[data]::marker {
  content: '\26A0';
  background: white;
  opacity: 0.01;
  font-size: 0;
}

img {
  height: auto;
  max-width: 100%;
}

#__nuxt {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr;
  grid-template-areas:
    'header'
    'nav'
    'main'
    'side'
    'footer';
}

@media (width >= 800px) {
  #__nuxt {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      'header header header'
      'nav nav nav'
      'main main side'
      'footer footer footer';
  }
}
